 

<div class="row">
	
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-7">
		<ul id="sparks" class="" style="height:60px;">
			<li class="sparks-info">
				<span> 平均加载时间 <span class="txt-color-blue">2.6s   <i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></span>

			</li>
			<li class="sparks-info">
				<h4> 平均白屏时间 <span class="txt-color-red">1.3s   <i class="fa fa-arrow-circle-down"></i>&nbsp;12%</span></h4>

			</li>
			<li class="sparks-info">
				<h4> 总PV <span class="txt-color-purple"> 123.3万<i class="fa fa-arrow-circle-up"></i>&nbsp;5%</span></h4>

			</li>
			<!--li class="sparks-info">
				<h4> OnLoad标准差 <span class="txt-color-red"><i class="fa fa-arrow-circle-down"></i>&nbsp;2447</span></h4>

			</li-->

		</ul>
	</div>
</div>

<div id="city_speed_graph" class="no-padding" title="Dialog Simple Title">
	<div class="pull-right"><a href="javascript:void(0);"  onclick="get_trend('page_load_trend')" target="blank">长期图</a></div>
	<div id="city_page_load_trend" style="height: 400px; min-width: 800px"></div>

</div>


<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<!-- new widget -->
			<div class="jarviswidget   jarviswidget-color-green" id="wid-id-0"  data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon  jarviswidget-color-green"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2>页面速度概览 </h2>
					

				</header>

				<!-- widget div-->
				<div>

					<div  class="widget-body smart-form">
							
							<!--start row-->
							<div class="row no-space">
									<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
									   <div class="pull-right"><a href="javascript:void(0);"  onclick="get_trend('page_load_trend')" target="blank">长期图</a></div>
									   <div id="page_load_trend" style="height: 400px; min-width: 310px"></div>
										
									</div>
									<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 show-stats">
										<div id="load_summary" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>


									</div>
							</div>
							<!--end row-->
							
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
	</div>

	<!-- end row -->

	<!-- row -->

	<div class="row">

		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-orange" id="wid-id-1" data-widget-editbutton="false" >


				<header>
					<span class="widget-icon"> <i class="fa  fa-info  txt-color-white"></i> </span>
					<h2> 运营商分析 </h2>

				</header>

				<!-- widget div-->
				<div>


					<div class="widget-body widget-hide-overflow no-padding">
						<!-- content goes here -->
							<div id="isp_trend" style="height: 400px; min-width: 310px"></div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" >


				<header>
					<span class="widget-icon"> <i class="fa  fa-bolt"></i> </span>
					<h2> 平均白屏时间</h2>
	
				</header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						<input class="form-control" type="text">

					</div>
					<!-- end widget edit box -->

					<div class="widget-body no-padding">
						<!-- content goes here -->
							<div id="load_by_percentage" style="height: 400px; min-width: 310px"></div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->


	
		</article>
<article class="col-sm-12 col-md-12 col-lg-6">
	<!-- alex-->
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" >


				<header>
					<span class="widget-icon"> <i class="fa  fa-bolt"></i> </span>
					<h2> 加载速度by 浏览器</h2>
	
				</header>

				<!-- widget div-->
				<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						<input class="form-control" type="text">

					</div>
					<!-- end widget edit box -->

					<div class="widget-body no-padding">
						<!-- content goes here -->
							<div class="pull-right"><a href="javascript:void(0);"  onclick="get_trend('bw_type_trend')" target="blank">长期图</a></div>
							<div id="load_by_browser" style="height: 400px; min-width: 310px">5555</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

<!-- alex-->

</article>
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- new widget -->
			<div class="jarviswidget  jarviswidget-color-red" id="wid-id-2"  data-widget-editbutton="false">


				<header>
					<span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
					<h2>区域分析</h2>

				</header>

				<!-- widget div-->
				<div>
					

					<div class="widget-body no-padding  col-xs-12 col-sm-12 col-md-7 col-lg-7">
						<!-- content goes here -->
							
							<div id="china_map" style="height:600px;"></div>



						<!-- end content -->

					</div>
					
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 show-stats">
						<!--table-->
						<table  class="table table-striped table-hover table-condensed">
								<h3>当前省最慢城市排名</h3>
								<thead>
									<tr>
										<th>最慢排名</th>
										<th>城市</th>
										<th>平均加载时间</th>
										<th>标准差</th>
										<th>PV收集量</th>
										<th>趋势图</th>
									</tr>
								</thead>
								<tbody id="city_list" >
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>

  
									<tr>
										<td>3</td>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									</tr>

								</tbody>
							</table>
						<!--end table-->
						<p id="wrong-msg">Choice </p>
					</div>
					
				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->
	</article>
	<article class="col-sm-12 col-md-12 col-lg-6">
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-greenLight" id="wid-id-4" >


				<header>
					<span class="widget-icon"> <i class="fa  fa-spinner txt-color-white"></i> </span>
					<h2> Top 15 最慢城市 </h2>
					<!-- <div class="widget-toolbar">
					add: non-hidden - to disable auto hide

					</div>-->
				</header>

				<!-- widget div-->
				<div>


					<div class="widget-body no-padding smart-form">
						<!-- content goes here -->
						<div class="table-responsive">
								
							<table class="table table-hover">
								<thead>
									<tr>
										<th>最慢排名</th>
										<th>城市</th>
										<th>平均加载时间</th>
										<th>标准差</th>
										<th>PV收集量</th>
										<th>趋势图</th>
									</tr>
								</thead>
								<tbody>
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>
<tr><td>3</td><td>烟台</td><td>532</td><td>3.92</td><td>563487</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr><tr><td>1</td><td>青岛</td><td>7845</td><td>32.332</td><td>498533</td><td><a href="javascript:void(0)" onclick="open_dialog()"> <i class="glyphicon glyphicon-stats txt-color-red"></i> </a>  </td><td></td></tr>

  
									<tr>
										<td>4</td>
										<td>Wise</td>
										<td>Man</td>
										<td>@myorange</td>
									</tr>
								</tbody>
							</table>
							
						</div>
						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

	</article>

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();
	
	/*
	 * PAGE RELATED SCRIPTS
	 */
	

	/*
	 * RUN PAGE GRAPHS
	 */


/*
	//alert(navigator.appName + navigator.userAgent);


	function get_browser(){
    var N=navigator.appName, ua=navigator.userAgent, tem;
    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
    return M[0];
    }
function get_browser_version(){
    var N=navigator.appName, ua=navigator.userAgent, tem;
    var M=ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    M=M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];
    return M[1];
    }
    var browser=get_browser();
var browser_version=get_browser_version();

	//alert(browser + browser_version);
*/
	
	
	
//start highchart graph

//页面速度概览
$(function () {
    $('#load_summary').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '全网加载速度分布'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
		 credits: {
		 
			  enabled: false
		 },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['1-2秒',   45.0],
                ['2-4秒',       26.8],
                {
                    name: '4-6秒',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['6-8秒',    8.5],
                ['8-10秒',     6.2],
                ['10秒以上',   0.7]
            ]
        }]
    });
}); 


   //每日页面加载时间趋势


//basic line
$(function () {
        $('#page_load_trend').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: '近期页面速度走势'
            },
            subtitle: {
                text: 'By 自动化组'
            },
            xAxis: {
                categories: ['0:05', '1:05', '2:05', '3:05', '4:05', '5:05', '6:05', '7:05', '8:05', '9:05', '10:05', '11:05', '12:05', '13:05', '14:05'],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
			credits: {
			 
				  enabled: false
			 },
            yAxis: {
                title: {
                    text: 'ms'
                },
                labels: {
                    formatter: function() {
                        return this.value / 1000;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' ms'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'OnLoad时间',
                data: [502, 635, 809, 947, 1402, 3634, 5268, 635, 809, 947, 1402, 3634, 5268]
            }, {
                name: '白屏时间',
                data: [106, 107, 111, 133, 221, 767, 1766,106, 107, 111, 133, 221, 767, 1766]
            }, {
                name: 'DomReady时间',
                data: [163, 203, 276, 408, 547, 729, 628,63, 203, 276, 408, 547, 729, 628]
            }, {
                name: 'FirstByte时间',
                data: [18, 31, 54, 156, 339, 818, 1201,18, 31, 54, 156, 339, 818, 1201]
            }, {
                name: 'DNS lookup',
                data: [2, 2, 2, 6, 13, 30, 46]
            }]
        });
    });
    

//end 页面速度概览

//city_page_load_trend
$(function () {
        $('#city_page_load_trend').highcharts({
            title: {
                text: '近期页面速度',
                x: -20 //center
            },
            subtitle: {
                text: 'By:自动化组',
                x: -20
            },
            xAxis: {
                categories: ['0:05', '1:05', '2:05', '3:05', '4:05', '5:05', '6:05', '7:05', '8:05', '9:05', '10:05', '11:05', '12:05', '13:05', '14:05']
            },
            yAxis: {
                title: {
                    text: 'ms'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
			exporting: {
				enabled: false
			},
			 credits: {
			 
				  enabled: false
			 },
            series: [{
                name: 'OnLoad时间',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: '白屏时间',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'DomReady时间',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: 'FirstByte时间',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    });
    
//end city_page_load_trend
// load_by_percentage

$(function () {
        $('#load_by_percentage').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '用户加载时间分布（每天）'
            },
            xAxis: {
                categories: ['06-0', '06-1', '06-2', '06-3', '06-4', '06-5', '06-6', '06-7', '06-8', '06-9',
				'06-10', '06-11', '06-12', '06-13', '06-14', '06-15', '06-16', '06-17', '06-18', '06-19']
            },
            yAxis: {
                min: 0,
                title: {
                    text: '秒'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
                series: [{
                name: '1-2秒',
                data: [18, 19, 21, 32, 10]
            }, {
                name: '2-4秒',
                data: [5, 7, 3, 8, 9]
            }, {
                name: '4-6秒',
                data: [3, 4, 4, 2, 5]
            },{
                name: '6-8秒',
                data: [3, 4, 4, 2, 5]
            },{
                name: '8-10秒',
                data: [3, 4, 4, 2, 5]
            },{
                name: '10秒以上',
                data: [1, 2, 1, 2, 3]
            }]
        });
    });
    
//end load_by_percentage
//load by brower
$(function () {
        $('#load_by_browser').highcharts({
            title: {
                text: 'OnLoad速度by Browser Type',
                x: -20 //center
            },
            subtitle: {
                text: 'By:自动化组',
                x: -20
            },
            xAxis: {
                categories: ['06-0', '06-1', '06-2', '06-3', '06-4', '06-5', '06-6', '06-7', '06-8', '06-9',
				'06-10', '06-11', '06-12', '06-13', '06-14', '06-15', '06-16', '06-17', '06-18', '06-19']
            },
            yAxis: {
                title: {
                    text: 'ms'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
			exporting: {
				enabled: false
			},
			 credits: {
			 
				  enabled: false
			 },
            series: [{
                name: 'IE9+',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 8.3, 13.9, 9.6]
            }, {
                name: 'Chrome',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 11.0, 20.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: 'FireFox',
                data: [-0.9, 0.6, 3.5, 18.4, 13.5, 17.0, 18.6, 7.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: 'Others',
                data: [3.9, 4.2, 5.7, 5.5, 11.9, 15.2, 17.0, 36.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    });
    

//end load by brower

//start ISP ranking
$(function () {
        $('#isp_trend').highcharts({
            title: {
                text: '加载速度by ISP视图',
                x: -20 //center
            },
            subtitle: {
                text: 'By:自动化组',
                x: -20
            },
            xAxis: {
                categories: ['06-0', '06-1', '06-2', '06-3', '06-4', '06-5', '06-6', '06-7', '06-8', '06-9',
				'06-10', '06-11', '06-12', '06-13', '06-14', '06-15', '06-16', '06-17', '06-18', '06-19']
            },
            yAxis: {
                title: {
                    text: 'ms'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
			exporting: {
				enabled: false
			},
			 credits: {
			 
				  enabled: false
			 },			
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [{
                name: '电信通',
                data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: '联通',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
            }, {
                name: '电信',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
            }, {
                name: '网通',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });
    });
    
//end ISP ranking


//stock

//end stock

// Dialog click
	function open_dialog(){
		
		$('#city_speed_graph').dialog('open');
	}
	
	$('.city_speed_link').click(function() {
		alert('dfdf');
		$('#city_speed_graph').dialog('open');
		return false;

	});
$('#city_speed_graph').dialog({
		autoOpen : false,
		width : 830,
		resizable : true,
		modal : true,
		title : "近期页面速度走势",
		buttons : [/*{
			html : "<i class='fa fa-trash-o'></i>&nbsp; Delete all items",
			"class" : "btn btn-danger",
			click : function() {
				$(this).dialog("close");
			}
		},*/ {
			html : "<i class='fa fa-times'></i>&nbsp; 关闭",
			"class" : "btn btn-info",
			click : function() {
				$(this).dialog("close");
			}
		}]
	});
//end dialog


function get_trend(graph_id){
		$.redirect('/trend/', {name : graph_id} );
}
</script>
<script src="/static/echarts-master/doc/example/www/js/esl.js"></script>
<script>
//echart map

// 路径配置
require.config({
	paths:{ 
		'echarts' : '/static/echarts-master/doc/example/www/js/echarts',
		'echarts/chart/map' : '/static/echarts-master/doc/example/www/js/echarts-map'
	}
});

// 使用
require(
	[
		'echarts',
		'echarts/chart/map' // 使用柱状图就加载bar模块，按需加载
	],
	function(ec) {
		// 基于准备好的dom，初始化echarts图表
		var myChart = ec.init(document.getElementById('china_map')); 
		
		option = {
			title : {
				text: '全国各省页面加载速度分析',
				subtext: 'by: 自动化组',
				x:'center'
			},
			tooltip : {
				trigger: 'item'
			},
			legend: {
				orient: 'vertical',
				x:'left',
				data:['OnLoad时间']
			},
			dataRange: {
				min: 0,
				max: 12500,
				text:['慢','快'],           // 文本，默认为数值文本
				calculable : true
			},
			toolbox: {
				show : true,
				orient : 'vertical',
				x: 'right',
				y: 'center',

			},
			series : [
				{
					name: 'OnLoad时间',
					type: 'map',
					mapType: 'china',
					selectedMode : 'single',
					itemStyle:{
						normal:{label:{show:true}},
						emphasis:{label:{show:true}}
					},
					data:[
						{name: '北京',value: Math.round(Math.random()*10000)},
						{name: '天津',value: Math.round(Math.random()*10000)},
						{name: '上海',value: Math.round(Math.random()*10000)},
						{name: '重庆',value: Math.round(Math.random()*10000)},
						{name: '河北',value: Math.round(Math.random()*10000)},
						{name: '河南',value: Math.round(Math.random()*10000)},
						{name: '云南',value: Math.round(Math.random()*10000)},
						{name: '辽宁',value: Math.round(Math.random()*10000)},
						{name: '黑龙江',value: Math.round(Math.random()*10000)},
						{name: '湖南',value: Math.round(Math.random()*10000)},
						{name: '安徽',value: Math.round(Math.random()*10000)},
						{name: '山东',value: Math.round(Math.random()*10000)},
						{name: '新疆',value: Math.round(Math.random()*10000)},
						{name: '江苏',value: Math.round(Math.random()*10000)},
						{name: '浙江',value: Math.round(Math.random()*10000)},
						{name: '江西',value: Math.round(Math.random()*10000)},
						{name: '湖北',value: Math.round(Math.random()*10000)},
						{name: '广西',value: Math.round(Math.random()*10000)},
						{name: '甘肃',value: Math.round(Math.random()*10000)},
						{name: '山西',value: Math.round(Math.random()*10000)},
						{name: '内蒙古',value: Math.round(Math.random()*10000)},
						{name: '陕西',value: Math.round(Math.random()*10000)},
						{name: '吉林',value: Math.round(Math.random()*10000)},
						{name: '福建',value: Math.round(Math.random()*10000)},
						{name: '贵州',value: Math.round(Math.random()*10000)},
						{name: '广东',value: Math.round(Math.random()*10000)},
						{name: '青海',value: Math.round(Math.random()*10000)},
						{name: '西藏',value: Math.round(Math.random()*10000)},
						{name: '四川',value: Math.round(Math.random()*10000)},
						{name: '宁夏',value: Math.round(Math.random()*10000)},
						{name: '海南',value: Math.round(Math.random()*10000)},
						{name: '台湾',value: Math.round(Math.random()*10000)},
						{name: '香港',value: Math.round(Math.random()*10000)},
						{name: '澳门',value: Math.round(Math.random()*10000)}
					]
				}
			]
		};
		   
	//customized by alex
	
	var ecConfig = require('echarts/config');
	myChart.on(ecConfig.EVENT.MAP_SELECTED, function(param){
    var selected = param.selected;
    var str = '当前选择： ';
    for (var p in selected) {
        if (selected[p]) {
            str += p + ' ';
			
			$("#city_list").html('<h1>Loading.........</h1>');
			$.getJSON('getCityList', {cityName: p}).done(function(city_list){
				$("#city_list").html(''); //clear loading
				str += city_list;
				table_data = "<tr><td>" + city_list + "</td><td>test....</td></tr>"
				//$("#city_list").append( table_data);
				
				$.each(city_list, function(item){
					var row_data =  city_list[item].summary;
					var row = "<tr><td>" + row_data[0]  + "</td><td>" + row_data[1] + "</td><td>"+ row_data[2] + "</td><td>" + row_data[3] + "</td><td>" + row_data[4] + "</td><td>" + '<a  href="javascript:void(0)" onclick="open_dialog()" >' + " <i  class='glyphicon glyphicon-stats txt-color-green'></i> </a>  <td></tr>"
					$("#city_list").append( row);
					
					//console.log(city_list[item].summary[0]);
				}) //end each
				//console.log(city_list);
			}) //end post
        }
    }
    document.getElementById('wrong-msg').innerHTML = str;
})
      
	//end customization
		   
		   
		// 为echarts对象加载数据 
		myChart.setOption(option); 
	}
);

//end echart map


//sort table
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
//end sort table

</script>




<script src="/static/js/boomerang/boomerang.js" type="text/javascript"></script>
<script src="/static/js/boomerang/plugins/navtiming.js" type="text/javascript"></script>
<script src="/static/js/boomerang/plugins/rt.js" type="text/javascript"></script>
<script src="/static/js/boomerang/plugins/bw_type.js" type="text/javascript"></script>
<script>
/*
BOOMR.init({
                beacon_url: "/report_user_data/",
                user_ip: '10.0.0.1',
                BW: {
                        base_url: '/static/js/boomerang/images/',
                        cookie: 'HOWTO-BA'
                },
                RT: {
                        cookie: 'HOWTO-RT'
                },

        });


BOOMR.subscribe('before_beacon', function(o) {
	var html = "";
	if(o.t_done) { html += "This page took " + o.t_done + "ms to load<br>"; }
	if(o.bw) { html += "Your bandwidth to this server is " + parseInt(o.bw/1024) + "kbps (&#x00b1;" + parseInt(o.bw_err*100/o.bw) + "%)<br>"; }
	if(o.lat) { html += "Your latency to this server is " + parseInt(o.lat) + "&#x00b1;" + o.lat_err + "ms<br>"; }

	document.getElementById('results').innerHTML = html;
});
*/
</script>
